In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('winequality-red.csv')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
print(set(df['quality']))

{3, 4, 5, 6, 7, 8}

In [6]:
quality_mapping = {
                    3:0,
                    4:1,
                    5:2,
                    6:3,
                    7:4,
                    8:5 }

In [8]:
df.loc[:,'Quality'] = df.quality.map(quality_mapping)
print(df.head())

0    5
1    5
2    5
3    6
4    5
Name: quality, dtype: int64